@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: va(--bg);
  color: var(--text);
}
/* modo claro por defecto*/
:root {
  --bg: #f7f9ff;
  --text: #000;
  --muted: #6b7280;
  --border: #e5e7eb;

  --primary: #6366f1;
  --accent: #0a1428;
}

.dark {
  --bg: #000;
  --text: #f9fafb;
  --muted: #9ca3af;
  --border: #1f2937;

  --primary: #818cf8;
  --accent: #140f2d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}
