@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: var(--bg);
  color: var(--text);

  transition:
    background 0.3s ease,
    color 0.3s ease,
    opacity 0.2s ease;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
}

button {
  font: inherit;
}

/* modo claro por defecto*/
:root {
  --bg: #f7f9ff;
  --text: #000;
  --muted: #6b7280;
  --border: #e5e7eb;

  --primary: #6366f1;
  --accent: #e4e5e6;
  --dorado: #816d49;

  /* tamaño de letras*/
}

.dark {
  --bg: #000;
  --text: #f9fafb;
  --muted: #9ca3af;
  --border: #1f2937;

  --primary: #818cf8;
  --accent: #28272b;
  --dorado: #b8a88a;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}

.font-cormorant {
  font-family: var(--font-cormorant);
}

.font-dm-mono {
  font-family: var(--font-dm-mono);
}

/* Estilos para el subrayado animado */
.nav-link-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: var(--dorado);
  transition: width 0.3s ease;
}

.nav-link-underline:hover::after,
.nav-link-underline.active::after {
  width: calc(100% - 36px);
}
